#title{
    background-color: dodgerblue;
    color:white;
}

#wrapper {
    height: 200px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    height: 5px;
}

#right {
    float: right;
}

a {
    border: solid;
    border-color: black;
    border: 1px;
}