#title{
    background-color: dodgerblue;
    color:white;
}

#wrapper {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    height: 5px;
}
th{
    width:100%;
}